.reveal {
    background-color: #ffffff;
    color: #333333;
}

/* Dark Plum headers */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: #4F0433;
}

/* Make h2 headers a bit smaller */
.reveal h2 {
    font-size: 1.5em;
}

/* Make standard text 25px */
.reveal p, .reveal li {
    font-size: 25px;
}